# System Files
.DS_Store
*.pem

# Dependencies
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/node_modules/
yarn-debug.log*
yarn-error.log*

# Next.js
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Local Files
*.local*
